@import '../../assets/styles/variables.scss';
// @import '../../assets/styles/mixins.scss';

.hero {
  padding: 0;
  margin: 0;
}

.hero_image {
  position: relative;
  width: 100%;
  height: 360px;
  overflow: hidden;

  background-size: cover;
  background-position: center;
}

.hero_overlay {
  position: absolute;
  inset: 0;
}

.hero_content {
  position: absolute;
  top: 14px;
  left: 16px;
  right: 16px;
  z-index: 1;
  color: #fff;
}

.hero_content h1 {
  font-family: "Krona One", sans-serif;
  font-size: 20;
  margin: 0;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 1px;
}

.hero_content p {
  font-family: "Junge", serif;
  font-size: 13;
  margin: 30px 0 0;
  font-size: 13px;
  line-height: 1.5;
  opacity: 0.95;
}

.hero_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
}

.hero_buttons {
  font-family: "Junge", serif;
  font-size: 13;
  margin-top: 22px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
}

.hero_btn {
  margin-top: 30px;
  flex: 1;
  height: 72px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.hero_btn--light {
  background: #d9cbb7;
  color: #2b1e14;
}

.hero_btn--dark {
  background: #6c533f;
  color: #f8f5ee;
}