.hero {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%
}

.hero_image {
  position: relative;
  width: 100%;
  height: 426px;
  overflow: hidden;

  background-size: cover;
  background-position: right center;
}

.hero_overlay {
  position: absolute;
  inset: 0;
}

.hero_content {
  position: absolute;
  top: 26px;
  bottom: 26px;
  left: 26px;
  right: 26px;
  z-index: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero_content h1 {
  font-family: "Krona One", sans-serif;
  width: 220px;
  font-size: 20px;
  margin: 0px 0 0;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 1px;
}

.hero_content p {
  font-family: "Junge", serif;
  font-size: 13px;
  margin: 0px 0 0;
  font-size: 13px;
  line-height: 1.5;
  opacity: 0.95;
}

.hero_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  pointer-events: none;
}

.hero_buttons {
  font-family: "Julius Sans One", serif;
  margin: 0 auto;
  display: flex;
  gap: 6px;
}

.hero_btn {
  margin-top: 13px;
  flex: 1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
}

.hero_btn.hero_btn--light {
  font-size: 13px;
  background: #d9cbb7;
  color: #2b1e14;
  height: 57px;
  width: 149px;
}

.hero_btn--dark {
  font-size: 20px;
  background: #6c533f;
  color: #f8f5ee;
}

@media (min-width: 450px) and (max-width: 1024px){
  .hero_content {
      top: 51px;
      left: 10%;
      right: auto;
      width: 400px;
    }
  
  .hero_image {
    height: calc(250px);
    min-height: 426px;
    background-position: 35% top;
  }
  
}

@media (min-width: 1024px) {
  .hero_image {
    height: calc(250px);
    min-height: 720px;
    background-position: 20% top;
  }

  .hero_content {
    top: 51px;
    left: 10%;
    right: auto;
    width: 621px;
  }

  .hero_content h1 {
    font-size: 64px;
    line-height: 1;
  }

  .hero_content p {
    font-size: 25px;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 81px;
  }

  .hero_buttons {
  flex-wrap: wrap;
  max-width: 100%;
  gap: 20px;
  margin-bottom: 106px;
}

.hero_content,
.hero_buttons,
.hero_btn {
  max-width: 100%;
  min-width: 0;
}

.hero_btn.hero_btn--light {
  font-size: 23px;
  height: 81px;
  width: 310px;
}

.hero_btn {
  min-width: 0;

}
}