.header {
  width: 100%;
  background: linear-gradient(to right, #140F0E 40%, #6D3E25 60%);
}

.header_inner {
  font-family: "Julius Sans One", sans-serif;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand_logo {
  width: 28px;
  height: 28px;
  display: block;
}

.brand_name {
  color: #F8F5EE;
  font-size: 16px;
  font-weight: 700;
}

.burger {
  width: 30px;
  height: 25px;
  padding: 6px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.burger span {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  display: block;
}

