.header {
  width: 100%;
  background: linear-gradient(to right, #140F0E 40%, #6D3E25 60%);
}

.header_inner {
  display: flex;
  height: 39px;
  padding-left: 16px;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: none;
  gap: 34px;
  align-items: center;
}

.nav_link {
  color: #ffffff;
  text-decoration: none;
  font-family: "Julius Sans One", serif;
  font-size: 18px;
  opacity: 1;
}

.nav_link:hover {
  opacity: 1;
}


.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand_logo {
  width: 28px;
  height: 28px;
  display: block;
}

.brand_name {
  font-family: "Julius Sans One", serif;
  color: #F8F5EE;
  font-size: 16px;
  font-weight: 700;
}

.burger {
  padding: 16px;
  background: transparent;

  position: relative;
  color: #fff !important;
}

.burger svg {
  font-size: 28px;
}

.burger:focus,
.burger:focus-visible {
  outline: none;
  box-shadow: none;
}

@media (min-width: 500px) {
  .header_inner{
  padding-right: 10%;
  padding-left: 10%;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

  .brand_name {
  color: #F8F5EE;
  width: 350px;
  font-size: 28px;
  font-weight: 700;
 }
}

@media (min-width: 1024px) {
  .header_inner{
  padding-right: 10%;
  padding-left: 10%;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .brand_name {
  color: #F8F5EE;
  width: 350px;
  font-size: 32px;
  font-weight: 700;
}
  .brand_logo {
  width: 49px;
  height: 49px;
  display: block;
}

  .nav {
  display: flex;
}

.burger {
  display: none;
}

}
  
