.gallery {
  padding: 26px;
  background: #120f0e;
}

.gallery_title {
  padding: 0;
  padding-bottom: 26px;
  margin: 0;
  text-align: center;
  letter-spacing: 2px;
  color: #f8f5ee;
  font-size: 28px;
  font-weight: 400;
  font-family: "Julius Sans One", sans-serif;
}

.gallery_slider {
  padding: 0;
}


.gallery_slider .swiper-slide {
  width: 180px;
}

.gallery_slide {
  width: 180px;
  height: 180px;
  border-radius: 12px;
  overflow: hidden;
  background: rgba(0,0,0,0.25);
}

.gallery_img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center 80% !important;
}

.gallery .swiper-button-prev,
.gallery .swiper-button-next {
  color: #fff !important;
}

.gallery .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.55) !important;
  opacity: 0.7 !important;
}

.gallery .swiper-pagination-bullet-active {
  background: #fff !important;
}

.gallery_more {
  display: flex;
  justify-content: center;
  padding-top: 28px;
  padding-bottom: 12px;
}

.slider-btn-dark {
  font-family: "Junge", serif;
  height: 57px;
  padding: 14px 22px;
  border-radius: 8px;

  text-decoration: none;
  font-size: 18px;
  font-weight: 500;

  background: #6c533f;
  color: #f8f5ee;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .gallery {
    padding: 0 24px;
  }

  .gallery_slider {
    padding: 0 0 44px;
  }


  .gallery_slider .swiper-slide {
    width: 320px;
  }

  .gallery_slide {
    width: 320px;
    height: 240px;
    border-radius: 14px;
  }

  .gallery_img {
    object-position: center;
  }
}

@media (min-width: 1024px) {
  .gallery {
    padding: 16px;
  }

  .gallery_slider {
    width: min(1800px, 100%);
    margin: 0 auto;
    padding: 0 24px 50px;
  }

  .gallery_slider .swiper-slide {
    width: 360px;
  }

  .gallery_slide {
    width: 360px;
    height: 280px;
  }

  .slider-btn-dark {
    width: fit-content;
    max-width: 100%;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #f8f5ee;
}

.swiper-pagination-bullet {
  background: rgba(248, 245, 238, 0.55);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #f8f5ee;
}
