.explore {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%
}

.explore_image {
  position: relative;
  width: 100%;
  height: 360px;
  overflow: hidden;

  background-size: cover;
  background-position: center;
}

.explore_overlay {
  position: absolute;
  inset: 0;
}

.explore_content {
  position: absolute;
  top: 14px;
  left: 16px;
  right: 16px;
  z-index: 1;
  color: #fff;
}

.explore_content h1 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 20px;
  margin: 0;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 1px;
}

.explore_content p {
  font-family: "Junge", serif;
  font-size: 13px;
  margin: 30px 0 0;
  font-size: 13px;
  line-height: 1.5;
  opacity: 0.95;
}

.explore_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  pointer-events: none;
}

.explore_buttons {
  font-family: "Junge", serif;
  font-size: 16px;
  margin-top: 22px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
}

.explore_btn {
  margin-top: 10%;
  flex: 1;
  height: 72px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
}

.explore_btn--light {
  background: #d9cbb7;
  color: #2b1e14;
}

.explore_btn--dark {
  background: #6c533f;
  color: #f8f5ee;
}

@media (min-width: 450px) and (max-width: 1024px){
  .explore_content {
      top: 51px;
      left: 10%;
      right: auto;
      width: 300px;
    }
  
  .explore_image {
    height: calc(250px);
    min-height: 470px;
    background-position: 35% top;
  }
  
}

@media (min-width: 1024px) {
  .explore_image {
    height: calc(250px);
    min-height: 720px;
    background-position: 20% top;
  }

  .explore_content {
    top: 51px;
    left: 10%;
    right: auto;
    width: 521px;
  }

  .explore_content h1 {
    font-size: 64px;
    line-height: 1;
  }

  .explore_content p {
    font-size: 25px;
    line-height: 1.5;
    margin-top: 15px;
  }

  .explore_buttons {
  margin-top: 20%;
  flex-wrap: wrap;
  max-width: 100%;
}

.explore_content,
.explore_buttons,
.explore_btn {
  max-width: 100%;
  min-width: 0;
}

.explore_btn {
  font-size: 36px;
  font-weight: 500;
  min-width: 0;
}

.explore_btn--light,
.explore_btn--dark {
  width: fit-content;
  max-width: 100%;
}
}