.story {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%
}

.story_image {
  position: relative;
  width: 100%;
  height: 360px;
  overflow: hidden;

  background-size: cover;
  background-position: center;
}

.story_overlay {
  position: absolute;
  inset: 0;
}

.story_content {
  position: absolute;
  top: 14px;
  left: 16px;
  right: 16px;
  z-index: 1;
  color: #fff;
}

.story_content h1 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 20px;
  margin: 0;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 1px;
}

.story_content p {
  font-family: "Junge", serif;
  font-size: 13px;
  margin: 30px 0 0;
  font-size: 13px;
  line-height: 1.5;
  opacity: 0.95;
}

.story_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  pointer-events: none;
}

@media (min-width: 450px) and (max-width: 1024px){
  .story_content {
      top: 51px;
      left: 10%;
      right: auto;
      width: 300px;
    }
  
  .story_image {
    height: calc(250px);
    min-height: 470px;
    background-position: 35% top;
  }
  
}

@media (min-width: 1024px) {
  .story_image {
    height: calc(250px);
    min-height: 720px;
    background-position: 20% top;
  }

  .story_content {
    top: 51px;
    left: 10%;
    right: auto;
    width: 521px;
  }

  .story_content h1 {
    font-size: 64px;
    line-height: 1;
  }

  .story_content p {
    font-size: 25px;
    line-height: 1.5;
    margin-top: 15px;
  }
}